.home {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  overflow: hidden;
}
.title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 62px;
  /* or 135% */
  letter-spacing: -0.03em;
  color: #13157f;
  margin-top: 175px;
  margin-bottom: 38px;
}

.span {
  color: #15bcaf;
  font-weight: 600;
  font-size: 55px;
  font-family: 'Source Serif Pro', serif;
  /* or 135% */
  letter-spacing: -0.03em;
  font-style: normal;
}

.right {
  display: flex;
  width: 50px;
  height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  transform: rotate(180deg);
  position: absolute;
  right: -50px;
  top: 0;
  bottom: 0;
  background-image: url('/images/PathCopy2.png');
  background-repeat: no-repeat;
  background-position: center;
  top: 38%;
  cursor: pointer;
}
.left {
  display: flex;
  width: 50px;
  height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
  background-image: url('/images/PathCopy2.png');
  background-repeat: no-repeat;
  background-position: center;
  top: 38%;
  cursor: pointer;
}

.button {
  width: 37px;
  height: 27px;
  object-fit: cover;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.img {
  width: 25vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 15px;
}

.name {
  margin-top: 10px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 38px;
  /* or 141% */
  letter-spacing: -0.03em;
  color: #13157f;
}

.mobile {
  display: none;
}
.titleMobile {
  display: none;
}

.col {
  position: relative;
}
@media screen and (max-width: 768px) {
  .home {
    margin-bottom: 50px;
  }
  .mySwiper {
    display: none;
  }
  .button {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .title {
    display: none;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .name {
    width: 85%;
    font-size: 19px;
    text-align: left;
    font-family: 'Manrope';
  }
  .left {
    display: none;
  }
  .right {
    display: none;
  }
  .titleMobile {
    display: block;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.03em;
    color: #13157f;
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 27px;
    line-height: 38px;
  }
  .span {
    font-size: 27px;
  }
}
